apiVersion: v1
kind: Service
metadata:
  name: admin-service
  namespace: tezcart
  labels:
    app: admin-service
spec:
  type: ClusterIP
  selector:
    app: admin-service
  ports:
  - port: 3005
    targetPort: 3005
    protocol: TCP
    name: http
