apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: tezcart
  labels:
    app: api-gateway
spec:
  type: LoadBalancer
  selector:
    app: api-gateway
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
