apiVersion: v1
kind: Service
metadata:
  name: cart-service
  namespace: tezcart
  labels:
    app: cart-service
spec:
  type: ClusterIP
  selector:
    app: cart-service
  ports:
  - port: 3003
    targetPort: 3003
    protocol: TCP
    name: http
