apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: tezcart
  labels:
    app: order-service
spec:
  type: ClusterIP
  selector:
    app: order-service
  ports:
  - port: 3004
    targetPort: 3004
    protocol: TCP
    name: http
